<mat-card>
    <mat-card-title>Edit Address</mat-card-title>

    <mat-card-content>

      <div style="display: block">
        <!-- Line 1 -->
        <mat-form-field>
          <mat-label>Address Line 1</mat-label>
          <input aria-label="Address Line 1"  matInput type="text">
        </mat-form-field>
      </div>


      <div style="display: block">
        <!-- Line 2 -->
        <mat-form-field>
          <mat-label>Address Line 2</mat-label>
          <input aria-label="Address Line 2"  matInput type="text">
        </mat-form-field>
      </div>


      <div style="display: block">
        <!-- Line 3 -->

        <!-- City -->
        <mat-form-field>
          <mat-label>City</mat-label>
          <input aria-label="City"  matInput type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-select>
            <mat-option value="md">Maryland</mat-option>
            <mat-option value="va">Virginia</mat-option>
            <mat-option value="dc">District of Columbia</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input aria-label="Zip"  matInput type="text">
        </mat-form-field>
      </div>

      <div style="display: block">
          <button type="button" mat-stroked-button color="primary">Reset</button>
          <button type="button" mat-raised-button color="primary">Update</button>
      </div>
    </mat-card-content>
</mat-card>
