<div class="page-container">

  <mat-card>
    <mat-card-title>Restricted Access</mat-card-title>

    <mat-card-content>

      <!-- Setup a wrapper div that uses the entire available height (total height - 140px) -->
      <div style="height: calc(100vh - 140px)">

        <i style="margin-top: 15px" class="fas fa-ban fa-5x"></i>

        <div style="display: block; margin-top:15px">
          You are not authorized to perform this action.
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
