<div class="navbar" style="width:200px">
  <mat-nav-list style="margin-top: 0; padding-top: 0">

    <!-- Menu Group 1 -->
    <div class='navHeader clickable'  (click)="toggleNavGroup(1)">
      <i class="fa fa-file-alt navHeaderIcon"></i>
      <span class="navHeaderTitle">Reports</span>
    </div>

    <!-- Menu Group 1 Items -->
    <div class='navGroup' [ngClass]="{'navGroupClosed': reportsNavGroupClosed == true}">

      <!-- View Reports -->
      <mat-list-item class="navItem" [routerLink]="constants.VIEW_REPORTS_ROUTE" routerLinkActive="active">
        <a title="View Reports">View Reports</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.VIEW_REPORTS_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open View Reports in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Add Report -->
      <mat-list-item class="navItem" [routerLink]="constants.ADD_REPORTS_ROUTE" routerLinkActive="active">
        <a title="Add Report">Add Report</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.ADD_REPORTS_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Add Report in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Add Report 2 -->
      <mat-list-item class="navItem" [routerLink]="constants.ADD_REPORTS2_ROUTE"
                     routerLinkActive="active">
        <a title="Add Report">Add Report 2</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.ADD_REPORTS2_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Add Report 2 in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Audit History -->
      <mat-list-item class="navItem" [routerLink]="constants.AUDIT_HISTORY_ROUTE" routerLinkActive="active">
        <a title="Audit History">Audit History</a>
        <div fxFlex fxLayoutAlign="end end" >
          <a [routerLink]="constants.AUDIT_HISTORY_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Audit History in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Upload Report -->
      <mat-list-item class="navItem" [routerLink]="constants.UPLOAD_REPORT_ROUTE"
                     routerLinkActive="active">
        <a title="Upload Report">Upload Report</a>
        <div fxFlex fxLayoutAlign="end end" >
          <a [routerLink]="constants.UPLOAD_REPORT_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon"
               title="Open 'Upload Report' a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Long View Report -->
      <mat-list-item class="navItem" [routerLink]="constants.LONGVIEW_REPORT"
                     routerLinkActive="active">
        <a title="Long View Report">Long View Report</a>
        <div fxFlex fxLayoutAlign="end end" >
          <a [routerLink]="constants.LONGVIEW_REPORT" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon"
               title="Open 'Long View Report' a new window"></i>
          </a>
        </div>
      </mat-list-item>

    </div>  <!-- End of navMenuGroup -->

    <!-- Menu Group 2 -->
    <div class='navHeader clickable'   (click)="toggleNavGroup(2)">
      <i class="fa fa-file-alt navHeaderIcon"></i>
      <span class="navHeaderTitle">Analytics</span>
    </div>

    <!-- Menu Group 2 Items -->
    <div class='navGroup' [ngClass]="{'navGroupClosed': analyticsGroupClosed == true}">

      <!-- Dashboard -->
      <mat-list-item class="navItem" [routerLink]="constants.DASHBOARD_ROUTE" routerLinkActive="active">
        <a title="Dashboard">Dashboard</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.DASHBOARD_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open 'Dashboard' in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- USA Map -->
      <mat-list-item class="navItem" [routerLink]="constants.USA_MAP_ROUTE" routerLinkActive="active">
        <a title="USA Map">USA Map</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.USA_MAP_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open 'USA Map' in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Drill Down Bar Chart -->
      <mat-list-item class="navItem" [routerLink]="constants.CHART_DRILLDOWN_ROUTE" routerLinkActive="active">
        <a title="Drill Down Chart">Drill Down Chart</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.CHART_DRILLDOWN_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open 'Drill Down Chart' in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Chart 1 -->
      <mat-list-item class="navItem" [routerLink]="constants.CHART1_ROUTE" routerLinkActive="active">
        <a title="Chart 1">Chart 1</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.CHART1_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Chart 1 in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Chart 2 -->
      <mat-list-item class="navItem" [routerLink]="constants.CHART2_ROUTE" routerLinkActive="active">
        <a title="Chart 2">Chart 2</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="constants.CHART2_ROUTE" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Chart 2 in a new window"></i>
          </a>
        </div>
      </mat-list-item>


      <!-- Help -->
      <mat-list-item class="navItem" (click)="this.downloadHelpFile()">
        <a title="Show Help File">Help</a>
        <div fxFlex fxLayoutAlign="end end">
          <a (click)="this.downloadHelpFile()" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Show Help File in new window"></i>
          </a>
        </div>
      </mat-list-item>
    </div>  <!-- End of Menu Group 2 Items -->

  </mat-nav-list>
</div>
