<div class="navbar" style="width:200px">
  <mat-nav-list style="margin-top: 0; padding-top: 0">

    <!-- Menu Group 1 -->
    <div class='navHeader clickable'  (click)="toggleNavGroup(1)">
      <i class="fa fa-file-alt navHeaderIcon"></i>
      <span class="navHeaderTitle">Reports</span>
    </div>

    <!-- Menu Group 1 Items -->
    <div class='navGroup' [ngClass]="{'navGroupClosed': reportsNavGroupClosed == true}">

      <!-- View Reports -->
      <mat-list-item class="navItem" [routerLink]="'page/viewReports'" routerLinkActive="active">
        <a title="View Reports">View Reports</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="'page/viewReports'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open View Reports in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Add Report -->
      <mat-list-item class="navItem" [routerLink]="'page/addReport'" routerLinkActive="active">
        <a title="Add Report">Add Report</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="'page/addReport'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Add Report in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Add Report 2 -->
      <mat-list-item class="navItem" [routerLink]="'page/addReport2'"
                     routerLinkActive="active">
        <a title="Add Report">Add Report 2</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="'page/addReport2'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Add Report 2 in a new window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Audit History -->
      <mat-list-item class="navItem" [routerLink]="'page/auditHistory'" routerLinkActive="active">
        <a title="Audit History">Audit History</a>
        <div fxFlex fxLayoutAlign="end end" >
          <a [routerLink]="'page/auditHistory'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Audit History in a new
window"></i>
          </a>
        </div>
      </mat-list-item>
    </div>  <!-- End of navMenuGroup -->

    <!-- Menu Group 2 -->
    <div class='navHeader clickable'   (click)="toggleNavGroup(2)">
      <i class="fa fa-file-alt navHeaderIcon"></i>
      <span class="navHeaderTitle">Analytics</span>
    </div>

    <!-- Menu Group 2 Items -->
    <div class='navGroup' [ngClass]="{'navGroupClosed': analyticsGroupClosed == true}">

      <!-- Chart 1 -->
      <mat-list-item class="navItem" [routerLink]="'page/chart1'" routerLinkActive="active">
        <a title="Chart 1">Chart 1</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="'page/chart1'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Chart 1 in a new
 window"></i>
          </a>
        </div>
      </mat-list-item>

      <!-- Chart 2 -->
      <mat-list-item class="navItem" [routerLink]="'page/chart2'" routerLinkActive="active">
        <a title="Chart 2">Chart 2</a>
        <div fxFlex fxLayoutAlign="end end">
          <a [routerLink]="'page/chart2'" target="_blank">
            <i class="fas fa-external-link-alt navItemIcon" title="Open Chart 2 in a new
window"></i>
          </a>
        </div>
      </mat-list-item>

    </div>  <!-- End of Menu Group 2 Items -->

  </mat-nav-list>
</div>
