input.ng-invalid.ng-touched {
  /* Set the background to red for the form fields that are invalid and were touched */
  background-color: #FA787E;
  color: white;
  padding: 4px;
}

select.ng-invalid.ng-touched {
  /* Set the background to red for the form fields that are invalid and were touched */
  background-color: #FA787E;
  color: white;
  padding: 4px;
}

mat-select.ng-invalid.ng-touched {
  /* Set the background to red for the form fields that are invalid and were touched */
  background-color: #FA787E;
  color: white;
  padding: 4px;
}

input.ng-valid.ng-touched {
  /* Set the background to green for the form fields that are valid and were touched */
  background-color: #78FA89;
  padding: 4px;
}

select.ng-valid.ng-touched {
  /* Set the background to green for the form fields that are valid and were touched */
  background-color: #78FA89;
  padding: 4px;
}

mat-select.ng-valid.ng-touched {
  /* Set the background to green for the form fields that are valid and were touched */
  background-color: #78FA89;
  padding: 4px;
}
