
<div class="header">
  <div fxFlex fxLayout="row" fxLayoutGap="0">

    <div fxFlex>
      <!-- Left Side of the Header -->
      <div fxFlex fxLayout="row" fxLayoutGap="0">
        <div fxFlex="45px">
          <!-- Navbar Toggle Button -->
          <button type="button" (click)="toggle()">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div fxFlex fxFlexAlign="start start">
          <!-- Application Title -->
          <h1 style="display: inline" class="app1Logo">Angular App1</h1>
        </div>
      </div>
    </div>

    <div fxFlex  fxLayoutAlign="center center" style="border: 1px solid blue">
      <!-- Center Part of the Header -->
      Center
    </div>

    <div fxFlex fxLayoutAlign="end end" style="border: 1px solid white">
      <!-- Right Part of the Header -->
      Right
    </div>

  </div>

</div>
