.header {
  background: #364150;
  color: white;
  height: 100%;
}


.app1Logo {
  color: #fff;
  padding: 3px 0 5px 5px;
  font-size: 1.7em;
  margin: 0;
  font-family: "Verdana", san-serif;
  text-decoration: none;
}
