<div class="page-container">

  <div fxFlexFill fxLayout="column">

    <div fxFlex fxLayout="row" fxLayoutGap="0">

      <!-- Left Side of the Top Row -->
      <div fxFlex fxLayoutAlign="left center" fxLayout="row" fxLayoutGap="0">
        <h1 class="mat-h1">Search Box Details</h1>
      </div>


      <!-- Right Side of the Top Row -->
      <div fxFlex fxLayoutAlign="end center">

      </div>

    </div>  <!-- End of top row -->


    <!-- Start of the second row -->
    <div fxFlex  fxLayout="column" fxLayoutGap="0">

      <mat-card class="mat-elevation-z4">
        <mat-card-content>

          <!-- Setup a wrapper div that uses the entire available height (total height - 165px) -->
          <div style="height: calc(100vh - 165px);">

            Showing Details for id = {{this.id}}

          </div>

        </mat-card-content>
      </mat-card>

    </div> <!-- End of 2nd row -->

  </div> <!-- End of Angular flex column -->

</div>  <!-- End of grid container -->
