
.navbar {
  background: #364150;
  color: white;
  height: 100%;
  overflow: hidden;
}


.mat-list-item {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: white;
  height: 25px;
}

.mat-list-item.active{
  /* Set the color for the actively clicked navbar item */
  /* Active mat-list-item has a background gradient that goes to the right */
  color: #fff;
  background: linear-gradient(to right, #5e6b7b, rgba(94, 107, 123, 0));
  font-weight: bold;
}


.navHeader{
  /* The navHeader as a gradient that goes to the left */
  background: linear-gradient(to left, #5e6b7b, rgba(94, 107, 123, 0));
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight:bold;
  padding: 0;
  margin-top: 0;
  height: 44px;
  display: flex;
  align-items: center;
}

.navHeaderIcon {
  margin-left: 7px;
}

.navHeaderTitle {
  margin-left: 8px;
}

.mat-list-item.navItem {
  height: 40px;
}

.navItem:hover  {
  color: #fff;
  background: linear-gradient(to right, #5e6b7b, rgba(94, 107, 123, 0));
  font-weight: bold;
}

.navItemIcon {
  /* By default, the navItemIcon is invisible (It's the same color as the navbar background) */
  color: #364150
}

.navItem:hover .navItemIcon {
  /* When hovering over navItem change the color of the navItemIcon so it appears */
  color: #999
}
