[{
        "type":  "web-service",
        "name":  "AngularApp1 Web App",
        "config": {
                "container": {
                    "instances": 1,
                    "cores":     1,
                    "memory":    1000
            },
            "app": {
                    "command": "java -Djava.io.tmpdir=./  -jar webapp/backend-exec.jar --server.port=${HTTPS_PORT}"
                },
              "navigatorApps": [{
                      "name": "Angular App1 Web App",
                      "appPath": "/app1"
                  }]
        }
}]
