<div fxFlex fxLayout="column" style="background-color: #159818; color: white">

  <div fxFlex fxLayoutAlign="center center"  style="font-family: Roboto; font-size: 12px !important; font-weight: 500;">
    Demo Web App
  </div>

  <div fxFlex fxLayout="column" style="font-family: Roboto; font-size: 12px !important; font-weight: 500;">
    <!-- 2nd Row -->
    <div fxFlex fxLayout="row" fxLayoutGap="0">

      <!-- Left Side of the 2nd Row -->
      <div fxFlex fxLayoutAlign="left center" fxLayout="row">

      </div>

      <!-- Center Part of the 2nd Row -->
      <div fxFlex  fxLayoutAlign="center center">
        You really should be aware
      </div>

      <!-- Right Side of the 2nd Row -->
      <div fxFlex fxLayoutAlign="end center">

      </div>

    </div>   <!-- End of left, center, right part of 2nd Row -->

  </div>    <!-- End of 2nd Row -->

</div>
